.blogPost {
  width: 88%;
  margin: 0 auto;
  padding: 1.3em 1em; 
  gap: 1em;

  position: absolute;
  bottom: 3.85em;
  left: 0;
  right: 0;

  border-radius: 40px;

  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
}

.container__text {
  color: white;
}

.header, .text {
  font-weight: 400;
}

.text {
  letter-spacing: 1.3px;
}



