.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.nav_active {
  height: 100vh;
  background-color: #4C4E52;
}

.nav_active > .nav__ul {
  color: white;
}

.nav__ul {
  position: fixed;
  top: 55px;

  width: 100%;
  
  justify-content: space-around;
  align-items: center;

  list-style-type: none;
  
}

.ul__li > img {
  width:  8.0625em;
  height: 3.8125em;
}

.ul__li > h2 {
  font-size: 1.4em;
  font-weight: 400;
  border-bottom: 0.8px solid #000;
}

.language {
  font-size: 1.1em;
}

.fullscreenNavLinks {
 height: 100%;

 align-items: center;
 justify-content: center;
 gap: 4.5em;
}

.fullscreenNavLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.56em;
}