.nav {
  position: sticky;
  top: 0;
  margin-top: 55px;
  z-index: 1000;
  /* background-color: white; */
}

.nav__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;
  
}

.ul__li > img {
  width:  8.0625em;
  height: 3.8125em;
}

.ul__li > h2 {
  font-size: 1.4em;
  font-weight: 400;
  border-bottom: 0.8px solid #000;
}

.ul__li > span {
  font-size: 1.1em;
}
