:root {
  --font-primary: 'Open Sans', sans-serif;

  --size-heading: 2.5em;
  --size-text: 1em;

  --color-font-dark: '#000';
  --color-font-light: '#fff';
  --color-bg-olive: '#A09F8D';
  --color-bg-gray-light: '#C4C4C4';
  --color-bg-gray-medium: '#808080';
  --color-bg-gray-dark: '#4C4E52';

  font-family: var(--font-primary);
}

* {
  margin: 0;
  padding: 0;
}
