@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-Light.ttf");
}

:root {
  --font-Open-Sans: "Open Sans", sans-serif;
  --padding-mobile: 2%;

  font-family: var(--font-Open-Sans);
  font-size: calc(16px + 0.390625vw);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
